/* Reset */
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 98%;
    max-width: 850px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}

a:focus, a:hover {
    font-style: italic;
}

/* Header */
header {
    padding: 1.5em 0 2em 0;
    border-bottom: 3px solid #931420;
    background-image: linear-gradient(30deg, #f6bb73 0%, #fffded 30%, white 50%, #fffded 80%, #f6bb73 100%);
}

header h2 {
    font-size: 175%;
    color: #800000;
}

header h3 {
    font-size: 130%;
    font-style: italic;
}

header img {
    float: left;
    padding: 0 30px;
}

.shadow {
    text-shadow: 2px 2px 2px #800000;
}

/* Main */
main {
    clear: left;
}

/* Section */
section {
    width: 67%;
    float: right;
    padding: 0 2%;
}

section h1 {
    color: #800000;
    font-size: 150%;
    padding-top: 0.5em;
    margin: 0;
}

section p {
    padding-bottom: 0.5em;
}

article {
    padding: 0.5em 0;
}

article h2 {
    font-size: 115%;
    padding: 0 0 0.25em 0;
}

article img {
    width: 50%;
    float: right;
    margin: 0.5em 0 1em 1em;
    border: 1px solid black;
}

/* Aside */
aside {
    width: 25%;
    float: left;
    padding: 0 2%;
}

aside h2 {
    color: #800000;
    font-size: 130%;
    padding: 0.6em 0 0.25em 0;
}

/* Navigation */
#nav_list ul {
    list-style-type: none;
}

#nav_list li a {
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #fffded;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #800000;
}

/* Hover effects */
#nav_list li a:hover, #nav_list li a:focus {
    background-color: #cccccc;
    color: #800000;
}

/* Footer */
footer {
    background-color: #931420;
    clear: both;
}

footer p {
    text-align: center;
    color: white;
    padding: 1em 0;
}
